
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
    margin: 0;
    background: rgb(0, 0, 0);
    font-family: Besley, serif;
  }

.subtext {
    color: rgb(148, 148, 148);
    margin-bottom: 50px;
}

.header {
    display: flex;
    border-style: solid;
    margin: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 70px;
    padding: 8px;
    
}

.logo {
    color: white;
    font-size: 25px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    
}

.team-logo {
    width: 100px;
    display: flex;
}

.links {
    gap: 25px;
    margin-right: 25px;
    display: flex;
}



.home {
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
}

.left {
    display:flex;
    align-items: center;
    margin-left: 50px;
    gap: 20px;
}

.main-container {
    display: flex;
    border-style: solid;
    height: 1540px;
    flex-direction: column;
}

/* #1 info box containing brief info and team image */
    .main-container > .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: lightgray;
    }
    
    .title-box {
        margin: 50px;
        padding: 50px;
        border-radius:10px;
        background-color: black;
        color: white;
        width:600px;
        
    }
    
    .sign-up {
        border-radius: 10px;
        background-color: darkgreen;
        padding: 10px;
        width: 75px;
        text-align: center;
    }
    
    .team-photo {
        display: flex;
        height: 300px;
        margin-right: 150px;
        border-color: black;
        border-style: solid;
    }

/* #2 Media box containing our social media links */

.main-container > .media {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-header {
    color: white;
    padding: 25px;
    font-size: 25px;

}

.media-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.media-logo {
    height: 100px;
}

.item {
    border-style: groove;
    border-color: white;
    padding: 50px;
    border-radius: 10px;
    border-width: 10px;
    height: 150px;
    margin-bottom: 50px;
}


/* #3 quote box containing quote from FIRST website */
.main-container > .quote {
    background-color: lightgray;
    padding: 20px 200px;
    font-size: 25px;
    color: black;
}

/* #4 sponsor box containg info for upcoming sponsors */

.main-container > .sponsors {
    background-color: white;
}

.sponsor-box {
    margin: 40px auto;
    margin-bottom: 75px;
    border-style: solid;
    border-radius: 10px;
    background-color: black;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

.sponsor-title {
    color: white;
 
}

.sponsor-info {
    padding: 20px;
    width: 450px;
}

.sponsor-us {
    background-color: darkgreen;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}


/* Footer */

.footer {
    background-color: black;
    height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    }

.established {
    color: white;
    margin-bottom: 10px;
}



